@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
.h1{
    text-align: center;
}

#emailDiv{
    margin-left:30px;
}


#ConfirmPassInput{
  margin-right: 60px;
}

#editLink{
    margin-left: 10%;
}

#deleteLink{
    margin-left: 15%;
}

.theader{
    text-align:center;
    color:#9D9D9D;
}

.wrapper{
    width: 350px;
    padding: 20px;
}

.editDeleteDiv{
    justify-content: space-evenly;
    display: flex;
}

.btn1 {
    background-color: indianred;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
  justify-content: center;
  align-items: center;
    margin-right: 10px;
}

/* Darker background on mouse-over */

.btn2 {
    background-color: indianred;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
  justify-content: center;
  align-items: center;
    margin-right: 10px;
}


div.table-title {
  display: block;
  text-align:center;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #CD5C5C;
   font-size: 40px;
   font-weight: 250;
   
   font-family: "Raleway";
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  
  padding:3px;
  width: 70%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#FFFFFF;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-style: "Helvetica Neue";
  font-size:20px;
  font-weight: 100;
  padding:20px;
  text-align:center;
  vertical-align:middle;

  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

 

  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#708090;
  color:#FFFFFF;
  border-top: 1px solid;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#D3D3D3;
}
 

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}


th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}


td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


#pWelcome{
    color:black; 
    font-size: 20px;
    text-align: center;

}

#div{
    color:black;
}


#BC,#BS{
    background-color:#E77471;
    padding-left: 20%;
    font-size: 90px;

}
#BC{
    padding-right:10%;
    width: auto;
}
#BS{
    padding-right:11.35%;
    width: 100px;
}

#divWelcome{
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 80vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.AddExpenseBtn{
  background-color:#CD5C5C;
  color:white;
  margin-right: 40px;
  width: 100px;
  height: 35px;
}

.editExpenseButton{
  background-color:#CD5C5C;
  color:white;
  margin-right: 40px;
  width: 120px;
  height: 35px;
}

.categoryListDiv{
  height:150px;
  width: 50px;

}

.loginDiv{
  padding-top: 150px;
}

.submitLogin{
  background-color:#CD5C5C;
  color:white;
  margin-left: 5%;
  width: 80px;
  height: 25px;
}

.registerDiv{
  padding-top: 150px;
}

.submitRegister{
  background-color:#CD5C5C;
  color:white;
  margin-left: 5%;
  width: 80px;
  height: 25px;
}

.loginTitle{
  top:30px;
  
}


.TableCatDiv{
  padding-top: 100px;
  width: 900px;
  float:right;
}

.AddCatinput{
  float: left;
}

.addCatButton{
  background-color:#CD5C5C;
  color:white;
  float: left;
  width: 110px;
  height: 10px;
  padding-bottom: 30px;
  margin-left: 40px;
}

.addCatDiv{
  padding-bottom: 3px;
  width: 500px;
  height:80px;
  float: left;
}

.table-fillcat {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  
  padding:3px;
  width: 90%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
#PieChartDiv{
  height:400px;
  width: 500px;
  padding-left: 80px;
  float:left;
  padding-top: 50px;

}
